
.title {
    font-size: 30px;
    color: red;
    font-weight: bold;
    text-align: center;
    display: block;
}

.remaining_time {
    font-size: 80px;
    color: red;
    font-weight: bold;
    text-align: center;
    display: block;
}

.access_time {
    font-size: 30px;
    color: black;
    font-weight: bold;
    text-align: center;
    display: block;
}